*, *::before, *::after {
    margin: 0;
    padding: 0;
}
@import "constants";

body {
    padding: 25px 0;
    @include standard-text();

    main {
        background-color: #fff;
        color: #000;
        text-align: center;
        height: 100%;
        display: grid;
        grid-gap: 2em;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: auto auto auto;
        grid-template-areas: 
            ". . . . h . . . ."
            ". . . . f . . . ."
            ". . . . c . . . .";

        header {
            grid-area: h;
        }

        form {
            grid-area: f;
            display: flex;
            justify-content: center;

            input[type=text] {
                width: 250px;
                height: 20px;
                padding: 2px 5px;
                @include standard-text();
            }

            button {
                @include standard-button();
                background: #467ab2;
                width: 50px;
                color: #fff;
            }
        }

        .todo-container {
            grid-area: c;
            text-align: left;

            li {
                list-style: none;
                width: 400px;
                border: 1px solid #ccc;
                display: flex;
                flex-direction: row;
                margin-right: auto;

                :nth-child(3) { order: 2; }
                
                input[type=checkbox] {
                    margin: 15px 15px;
                    cursor: $pointer;
                }
            
                input[type=text] {
                    width: 250px;
                    height: 20px;
                    padding: 2px 5px;
                    @include standard-text();
                }
                
                span.todo-item {
                    width: 265px;
                    margin: auto;
                    cursor: $pointer;
                }

                span.todo-item.checked-task {
                    text-decoration: line-through;
                }

                button {
                    @include standard-button();
                    width: 45px;
                    height: 45px;
                    background-color: #fff;
                }

                .trash-btn {
                    color: red;
                }

                .save-btn {
                    color: #4CAF50;
                }
            }
        }

        .fa-trash, .fa-check, .fa-save {
            pointer-events: none;
        }
    }
}